body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #8EF6C2;
}

.quem-somos{
    background-color: #9ACAF7;
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #44BCF4;
}

.serviços{
    background-color: #C0F779;
}

.bg-footer{
    background-color: black;
    color: white;
}